{% assign slide_image = slide.image_url | default: slide.image %}

{% if slide_image or slide.title or slide.description or slide.button_text %}
  <li class="glide__slide h-dvh w-full relative">
    {% if slide_image %}
      {% if slide.image_url %}
        <img
          src="{{ slide.image_url }}"
          alt="{{ slide.title | escape }}"
          class="h-dvh w-dvw object-cover"
          width="1920"
          height="1080"
          loading="lazy"
        >
      {% elsif slide.image %}
        {{
          slide.image
          | image_url: width: 1920
          | image_tag: class: 'h-dvh w-dvw object-cover', alt: slide.title, loading: 'lazy', width: 1920, height: 1080
        }}
      {% endif %}
    {% endif %}

    {% if slide.title or slide.description or slide.button_text %}
      <div
        class="hero-slide-content absolute bottom-24 left-8 md:left-16 text-white space-y-6 z-10"
      >
        {% if slide.title %}
          <h2 class="text-4xl md:text-5xl font-bold leading-tight text-shadow">
            {{ slide.title }}
          </h2>
        {% endif %}

        {% if slide.description %}
          <p class="text-md md:text-lg text-white/90 max-w-md text-shadow">
            {{ slide.description }}
          </p>
        {% endif %}
        {% if slide.button_text and slide.button_link %}
          <a
            href="{{ slide.button_link }}"
            class=" font-semibold
                {{ slide.button_style }}
            "
          >
            {{ slide.button_text }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </li>
{% endif %}
