<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'styles.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.shopify.com/s/files/1/0886/9517/7586/files/Favicon_Urban.png?v=1761574144"
    >
    <link
      rel="shortcut icon"
      href="https://cdn.shopify.com/s/files/1/0886/9517/7586/files/Favicon_Urban.png?v=1761574144"
    >

    {{ content_for_header }}
    <!-- Swiper.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    <!-- HLS.js for video streaming -->
    <script defer src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <!-- Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ 'infinite-scroll.js' | asset_url }}" defer="defer"></script>

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = 'https://www.clarity.ms/tag/' + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, 'clarity', 'script', 'u4kt11q6u6');
    </script>
  </head>

  <body>
    {% sections 'header-group' %}
    <div class="-mt-23">
      {{ content_for_layout }}
    </div>

    {% sections 'footer-group' %}

    <!-- Cart Drawer -->
    {% sections 'cart-drawer-group' %}

    <!-- Search Drawer -->
    {% sections 'search-drawer-group' %}

    <!-- Swiper.js JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Addi Widget Script -->
    <script
      data-name="shopifyAddiWidget"
      data-id="newurbanisa"
      data-ally-slug="newurbanisa-ecommerce"
      data-element-reference="#addi-price-anchor"
      src="https://statics.addi.com/shopify/js/shopify-co-widget-wrapper.bundle.min.js"
    ></script>
  </body>
</html>
